@define-color bg #000000;
@define-color bgs #100d14;
@define-color fge #4e4a53;
@define-color fg #ffffff;
@define-color h1 #ff3a4c;

* {
    font-family: Oziosevka;
    font-size: 16.2px;
    font-weight: 500;

    min-height: 0;
    margin: 0;
    text-shadow: none;
    box-shadow: none;
    transition: none;
    animation: none;
    border: none;
}

#window, window#waybar { background-color: @bg; color: @fg; }
tooltip { opacity: 1; background-color: @bg; border-radius: 0; }
tooltip * { color: @fg; }

#workspaces { margin: 0; padding: 0; }
#workspaces button { border-radius: 0; padding: 0; color: @fg; }
#workspaces button.empty { color: @fge; }
#workspaces button.active { background-color: @bgs; }
#workspaces button:hover { background: @bgs; }

#battery { margin-right: 24px; }

#submap { color: @h1; }
